# Database
MONGO_URI=mongodb+srv://shajnaa760_db_user:GM5QWjuJn7yepmom@cluster0.hdpinwa.mongodb.net/url-shortner

# Security
JWT_SECRET=super_secret_jwt_secret

# Server
PORT=4000
CLIENT_URL=http://localhost:5173
